---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home";
import Nav from "../components/Nav";

import "@fontsource-variable/onest";
---

<Layout title="Adrian Uriel Briefcase">
  <div
    class="h-screen w-screen bg-[#d4d4d8] bg-[radial-gradient(800%_90%_at_50%_70%,#d4d4d8_20%,#63e_110%)] dark:bg-neutral-950 dark:bg-[radial-gradient(800%_90%_at_50%_70%,#0a0a0a_20%,#63e_500%)]"
  >
    <Nav client:idle />
    <Home client:only />
  </div>
</Layout>
